.reviews {
    margin-bottom: 71px;
    &__item {
        margin-top: 60px;
        display: flex;
        img {
            width: 169px;
            height: 169px;
        }
        &__text {
            margin-left: 62px;
            padding-right: 60px;
            &_name {
                font-size: 18px;
                color: #0D0D0D;
                font-weight: 700;
            }
            &_number {
                font-weight: 500;
                font-size: 14px;
                color: #646464;

            }
            &_words {
                margin-top: 10px;
                font-weight: 300;
                font-size: 16px;
                line-height: 24px;
                color: #0D0D0D;
            }
        }
    }
}